/* your styles go here */
body {
  padding-top: 0px;
}

.navbar-default {
  background-color: #E2AD27;
}

.navbar-default .navbar-nav > li > a, .navbar-toggle {
  color: #FFFFFF;
}

.text-intro {
  background-image: url('../img/italy.jpg');
}


.subheading {
  font-size: 2em;
}

.external {
  color: #E2AD27;
}

#intro {
  height: 100vh;
  background-position: center center;
  background-size: cover;
}

#intro_text {
  position: relative;
  top: 40%;
  text-align: left;
  transform: translateY(-50%);
}

#intro_text .cta_major {
  color: #FFFFFF;
  font-size: 2em;
  font-weight: bold;
}

#intro_text .cta_minor {
  color: #FFFFFF;
  font-size: 1.5em;
}

#stay_tuned {
  color: #E2AD27;
}

#video {
  width: 100%;
}

/* Make the navbar shorter. */
.navbar-nav > li > a, .navbar-brand {
  padding-top: 9px !important;
  padding-bottom: 0 !important;
  height: 50px;
}

.navbar {
  min-height: 50px;
  opacity: 0.9;
  box-shadow: none;
}

/* Retain color when hovering nav link. */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
}

.navbar ul.nav > li > a:hover,
.navbar ul.nav > li.active > a,
.navbar ul.nav > li.open > a {
  border-top-color: #FFFFFF;
}

/* Remove rounded corners. */
#submit_intro {
  background-color: #E2AD27;
  border-color: transparent;
  border-radius: 0px;
}

/* Make the try panel yellow with white text. */
#try {
  background-color: #E2AD27;
  color: #FFFFFF;
}

#try h2 {
  color: #FFFFFF;
}

/* Make footer gray. */
.footer__copyright {
  background-color: #696969;
}

/* Make FB and email icons yellow. */
#contact .icon, #contact .icon i {
  border-color: #E2AD27;
  color: #E2AD27;
}
